@charset "UTF-8";
*,
*::before,
*::after {
  outline: 1px solid red;
}

body {
  font-size: 18px;
  font-weight: normal;
  font-family: var(--main-fonts);
  line-height: 1.2;
  color: var(--main-text-color);
}

ul {
  list-style: none;
  /* скидання відступів у списках*/
  padding: 0;
  margin: 0;
}

.link {
  color: inherit;
  text-decoration: none;
}

.title {
  font-weight: 700;
  font-size: 35px;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container-fluid {
  width: 100%;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: pink;
}

@media screen and (min-width: 480px) {
  .container-fluid {
    max-width: 480px;
    padding: 0 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
  }
}

@media screen and (min-width: 768px) {
  .container-fluid {
    max-width: 768px;
    padding: 0 30px;
    background-color: coral;
  }
}

@media screen and (min-width: 1400px) {
  .container-fluid {
    max-width: 1400px;
    padding: 0 50px;
    background-color: yellowgreen;
  }
}

/* hero */
.hero-title {
  position: absolute;
  width: 29.2em;
  margin-top: 5px;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .hero-title {
    width: 430px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .hero-title {
    width: 708px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
  }
}

@media screen and (min-width: 1400px) {
  .hero-title {
    width: 1300px;
    margin-top: 140px;
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
    text-align: start;
  }
}

/* section advantages */
.advantages-title {
  padding-top: 31px;
  padding-bottom: 90px;
}

.adv-icon_title {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  padding-top: 30px;
}

/* section reviews */
.rev-title {
  padding-top: 140px;
  padding-bottom: 104px;
}

/* section stability */
.stab-title {
  padding-top: 54px;
  padding-bottom: 19px;
}

/* section court-control */
.court-title {
  padding-top: 225px;
  padding-bottom: 16px;
}

/* header */
.logo-link {
  font-weight: 700;
  font-size: 25px;
  color: var(--logo-text-color);
  padding-left: 19px;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer */
.footer-logo-inform {
  display: flex;
}

.logo-footer {
  width: 57px;
  height: 57px;
}

.logo-description {
  padding-left: 21px;
}

.logo-link-footer {
  font-weight: 800;
  font-size: 20px;
  color: var(--logo-text-color);
}

.footer-logo-paragraph {
  font-size: 12px;
  color: var(--accent-text-color);
  padding-top: 7px;
}

.header-btn {
  display: flex;
  align-items: center;
}

.btn_enter {
  width: 220px;
  height: 53px;
  background-color: var(--btn-color-header);
  border-radius: 6px;
  cursor: pointer;
  border: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  padding-right: 10px;
  font-family: var(--main-fonts);
  font-size: 19px;
  line-height: 1.7;
  font-weight: 400;
  color: var(--logo-text-color);
  transition: transform 250ms linear;
}

.btn_enter:hover,
.btn_enter:focus {
  box-shadow: 0px 0px 4px 4px rgba(179, 241, 7, 0.87);
  background-color: var(--btn-color-section);
}

.btn-icon {
  margin-left: 10px;
  fill: var(--btn-color-header);
}

.btn-icon:hover,
.btn-icon:focus {
  fill: var(--btn-color-section);
}

/* section court-control */
.btn_enter--court {
  width: 375px;
  height: 74px;
  background-color: var(--btn-color-section);
  border-radius: 6px;
  font-weight: 500;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--logo-text-color);
  margin-bottom: 40px;
  transition: transform 250ms linear;
}

.btn_enter--court:hover,
.btn_enter--court:focus {
  transform: scale(1.05);
  box-shadow: 0px 0px 4px 4px rgba(180, 219, 6, 0.808);
  background-color: var(--btn-color-header);
  color: yellow;
}

/* footer */
.btn-send {
  width: 129px;
  height: 34px;
  background: var(--btn-color-section);
  border-radius: 6px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent-text-color);
  margin-left: 7px;
  cursor: pointer;
}

.btn-send:hover,
.btn-send:focus {
  box-shadow: 0px 0px 4px 4px rgba(179, 241, 7, 0.87);
  background-color: var(--btn-color-section);
  color: yellowgreen;
}

.social-icon {
  display: flex;
  padding-top: 44px;
  padding-bottom: 30px;
}

.footer-icon {
  fill: var(--logo-text-color);
  cursor: pointer;
}

.footer-icon:not(:first-child) {
  padding-left: 25px;
}

.footer-icon:hover,
.footer-icon:focus {
  fill: var(--hover-social-icon);
}

.block-send {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  flex-wrap: wrap;
  display: none;
}

.title-send {
  display: flex;
  font-weight: 600;
  font-size: 15px;
  color: var(--logo-text-color);
  margin-top: -140px;
}

.paragraph-send {
  font-size: 10px;
  color: var(--accent-text-color);
  padding-top: 7px;
}

.footer-mail {
  display: flex;
  justify-content: flex-end;
  padding-top: 19px;
}

.form-email {
  width: 224px;
  height: 34px;
  padding-left: 14px;
  border-radius: 6px;
  border: none;
  font-weight: 500;
  font-size: 13px;
  color: #a6a6a6;
}

.form-email:hover,
.form-email:focus {
  box-shadow: 0px 0px 4px 4px rgba(179, 241, 7, 0.87);
}

/* back to top */
.back-to-top {
  position: fixed;
  right: 30px;
  bottom: 140px;
  width: 50px;
  height: 50px;
  display: none;
}

.back-to-top:hover,
.back-to-top:focus {
  filter: brightness(1.5);
  outline: none;
}

.back-to-top::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/btn_top.png);
}

/* section advantages */
.advantages {
  background-color: var(--secondary-bg-color);
  height: 695px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  row-gap: 60px;
  justify-items: center;
}

.advantages-link .advantages-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.advantages-icon {
  transition: transform 250ms linear;
  transform: scale(1);
  cursor: pointer;
  fill: var(--btn-color-section);
}

.advantages-icon:hover,
.advantages-icon:focus {
  fill: yellowgreen;
  transform: scale(1.2);
}

.adv-icon_paragraph {
  padding-top: 30px;
  line-height: 1.4;
}

/* section court-control */
.court-control {
  height: 1220px;
}

.icon-top {
  float: right;
  margin-top: -50px;
  transition: transform 250ms linear;
  display: none;
}

.icon-top:hover,
.icon-top:focus {
  transform: scale(1.12);
}

.court-information {
  display: flex;
  /* justify-content: space-between; */
}

.iphone {
  padding-top: 251px;
}

.court-properties {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 81px;
}

.court-par {
  line-height: 1.7;
  padding-bottom: 66px;
}

.court-link:not(:first-child) {
  margin-top: 13px;
}

.court-link {
  transition: transform 250ms linear;
}

.court-link:hover,
.court-link:focus {
  transform: scale(1.12);
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.562);
  border-radius: 6px;
}

/* footer */
.footer {
  background-color: var(--bg-color-header-footer);
  height: 190px;
}

.footer-par {
  float: right;
  font-size: 9px;
  color: var(--accent-text-color);
  margin-top: -5px;
}

/* header */
.page-header {
  background-color: var(--bg-color-header-footer);
  height: 79px;
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
}

/* hero */
.hero {
  height: 400px;
}

@media screen and (min-width: 480px) {
  .hero {
    height: 450px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    height: 500px;
  }
}

@media screen and (min-width: 1400px) {
  .hero {
    height: 600px;
  }
}

.hero-section {
  display: flex;
  justify-content: space-between;
}

.img_hero {
  width: 600px;
  padding-top: 45px;
}

@media screen and (min-width: 768px) {
  .img_hero {
    margin-left: -100px;
    padding-top: 70px;
  }
}

@media screen and (min-width: 1400px) {
  .img_hero {
    margin-left: 0;
    padding-top: 45px;
  }
}

.hero-list {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1400px) {
  .hero-list {
    margin-top: -135px;
    justify-content: start;
  }
}

.hero-link:not(:first-child) {
  margin-left: 35px;
}

.hero-link {
  transition: transform 250ms linear;
}

@media screen and (min-width: 320px) {
  .hero-link {
    width: 100px;
    height: 25px;
  }
}

@media screen and (min-width: 480px) {
  .hero-link {
    width: 120px;
    height: 35px;
  }
}

@media screen and (min-width: 768px) {
  .hero-link {
    width: 140px;
    height: 40px;
  }
}

@media screen and (min-width: 1400px) {
  .hero-link {
    width: 175px;
    height: 50px;
  }
}

.hero-link:hover,
.hero-link:focus {
  transform: scale(1.12);
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.562);
  border-radius: 6px;
}

/* section information */
.information {
  background-color: var(--bg-color-inform);
  height: 51px;
}

.inf-list {
  padding-top: 11px;
  display: flex;
  justify-content: space-between;
}

.inf-link {
  font-weight: 500;
  font-size: 21px;
  color: var(--logo-text-color);
  position: relative;
}

.inf-link::after {
  content: '';
  display: block;
  position: absolute;
  margin-top: 8px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: yellowgreen;
  transition: transform 250ms linear;
  transform: scale(0);
}

.inf-link:hover::after,
.inf-link:focus::after {
  transform: scale(1);
}

/* section reviews */
.reviews {
  height: 670px;
}

.rev-icon {
  float: right;
  padding-top: 30px;
  transition: transform 250ms linear;
  display: none;
}

.rev-icon:hover,
.rev-icon:focus {
  transform: scale(1.12);
}

.rev-list {
  display: flex;
  justify-content: space-evenly;
}

.user-inform {
  display: flex;
  align-items: center;
}

.user-name {
  font-weight: 600;
  font-size: 24px;
  padding-left: 24px;
}

.rev-text {
  padding-top: 27px;
  line-height: 1.7;
}

.stability {
  height: 680px;
  background-color: var(--secondary-bg-color);
}

.stab-paragraph {
  text-align: center;
  padding-bottom: 73px;
}

.stab-work {
  display: flex;
  justify-content: space-between;
}

.stab-icon {
  float: left;
  margin-right: 20px;
}

.stab-achievement {
  display: flex;
  flex-direction: column;
}

.partners-title {
  padding-top: 151px;
  padding-bottom: 75px;
}

.court-partners {
  display: flex;
  justify-content: center;
}

.partners-icon:not(:first-child) {
  margin: 0 0 0 58px;
}

.partners-icon {
  transition: transform 250ms linear;
}

.partners-icon:hover,
.partners-icon:focus {
  transform: scale(1.12);
  box-shadow: 0px 0px 4px 4px rgba(17, 2, 54, 0.87);
  border-radius: 12px;
}

:root {
  --main-text-color: #040404;
  --logo-text-color: #f0f0f0;
  --accent-text-color: rgba(240, 240, 240, 0.46);
  --bg-color-header-footer: #004d40;
  --bg-color-inform: #027b66;
  --secondary-bg-color: rgba(2, 123, 102, 0.04);
  --btn-color-header: #027b66;
  --btn-color-section: #3b683d;
  --hover-social-icon: yellow;
  --main-fonts: 'Montserrat', sans-serif;
}
/*# sourceMappingURL=main.css.map */