@charset "UTF-8";
body {
  font-size: 18px;
  font-weight: normal;
  font-family: var(--main-fonts);
  line-height: 1.2;
  color: var(--main-text-color);
  overflow-x: hidden;
}

ul {
  list-style: none;
  /* скидання відступів у списках*/
  padding: 0;
  margin: 0;
}

.link {
  color: inherit;
  text-decoration: none;
}

.title {
  font-weight: 700;
  font-size: 35px;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container-fluid {
  width: 100%;
  margin-right: -100px;
}

@media screen and (min-width: 320px) {
  .container-fluid {
    max-width: 320px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 480px) {
  .container-fluid {
    max-width: 480px;
    padding: 0 25px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container-fluid {
    max-width: 768px;
    padding: 0 30px;
  }
}

@media screen and (min-width: 1200px) {
  .container-fluid {
    max-width: 100%;
    padding: 0 50px;
  }
}

/* back to top */
.back-to-top {
  position: fixed;
  right: 30px;
  bottom: 140px;
  width: 50px;
  height: 50px;
  display: none;
}

.back-to-top:hover,
.back-to-top:focus {
  filter: brightness(1.5);
  outline: none;
}

.back-to-top::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/btn_top.png);
}

.header-btn {
  display: flex;
  align-items: center;
}

.btn-enter {
  width: 220px;
  height: 53px;
  background-color: var(--btn-color-header);
  border-radius: 6px;
  cursor: pointer;
  border: none;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  padding-right: 10px;
  font-family: var(--main-fonts);
  font-size: 19px;
  line-height: 1.7;
  font-weight: 400;
  color: var(--logo-text-color);
  transition: transform 250ms linear;
}

@media screen and (min-width: 768px) {
  .btn-enter {
    display: flex;
  }
}

.btn-enter:hover,
.btn-enter:focus {
  box-shadow: 0px 0px 4px 4px rgba(179, 241, 7, 0.87);
  background-color: var(--btn-color-section);
}

.btn-enter__mob {
  width: 220px;
  height: 53px;
  background-color: var(--btn-color-header);
  border-radius: 6px;
  cursor: pointer;
  border: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  padding-right: 10px;
  font-family: var(--main-fonts);
  font-size: 19px;
  line-height: 1.7;
  font-weight: 400;
  color: var(--logo-text-color);
  transition: transform 250ms linear;
}

.btn-icon {
  margin-left: 10px;
  fill: var(--btn-color-header);
}

.btn-icon:hover,
.btn-icon:focus {
  fill: var(--btn-color-section);
}

/* section court-control */
.btn_enter__court {
  width: 120px;
  height: 40px;
  background-color: var(--btn-color-section);
  border-radius: 6px;
  font-weight: 500;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--logo-text-color);
  margin-bottom: 20px;
  transition: transform 250ms linear;
}

@media screen and (min-width: 480px) {
  .btn_enter__court {
    width: 180px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .btn_enter__court {
    width: 275px;
    height: 74px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .btn_enter__court {
    width: 375px;
    height: 74px;
    font-size: 30px;
  }
}

.btn_enter__court:hover,
.btn_enter__court:focus {
  transform: scale(1.05);
  box-shadow: 0px 0px 4px 4px rgba(180, 219, 6, 0.808);
  background-color: var(--btn-color-header);
  color: yellow;
}

/* footer */
.btn-send {
  width: 129px;
  height: 34px;
  background: var(--btn-color-section);
  border-radius: 6px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent-text-color);
  margin-left: 7px;
  cursor: pointer;
}

.btn-send:hover,
.btn-send:focus {
  box-shadow: 0px 0px 4px 4px rgba(179, 241, 7, 0.87);
  background-color: var(--btn-color-section);
  color: yellowgreen;
}

.block-send {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  flex-wrap: wrap;
  display: none;
}

.title-send {
  display: flex;
  font-weight: 600;
  font-size: 15px;
  color: var(--logo-text-color);
  margin-top: -140px;
}

.paragraph-send {
  font-size: 10px;
  color: var(--accent-text-color);
  padding-top: 7px;
}

.footer-mail {
  display: flex;
  justify-content: flex-end;
  padding-top: 19px;
}

.form-email {
  width: 224px;
  height: 34px;
  padding-left: 14px;
  border-radius: 6px;
  border: none;
  font-weight: 500;
  font-size: 13px;
  color: #a6a6a6;
}

.form-email:hover,
.form-email:focus {
  box-shadow: 0px 0px 4px 4px rgba(179, 241, 7, 0.87);
}

/* header */
.logo-link {
  font-weight: 700;
  font-size: 20px;
  color: var(--logo-text-color);
  padding-left: 5px;
}

@media screen and (min-width: 480px) {
  .logo-link {
    font-size: 25px;
    padding-left: 19px;
  }
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer */
.footer-logo-inform {
  display: flex;
}

.logo-footer {
  width: 50px;
  height: 50px;
}

@media screen and (min-width: 768px) {
  .logo-footer {
    width: 57px;
    height: 57px;
  }
}

.logo-description {
  padding-left: 5px;
}

@media screen and (min-width: 768px) {
  .logo-description {
    padding-left: 21px;
  }
}

.logo-link-footer {
  font-weight: 800;
  font-size: 20px;
  color: var(--logo-text-color);
}

.footer-logo-paragraph {
  font-size: 12px;
  color: var(--accent-text-color);
  padding-top: 7px;
}

.social-icon {
  display: flex;
  justify-content: center;
  padding-top: 44px;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .social-icon {
    justify-content: flex-start;
    padding-top: 44px;
    padding-bottom: 30px;
  }
}

.footer-icon {
  fill: var(--logo-text-color);
  cursor: pointer;
}

.footer-icon:not(:first-child) {
  padding-left: 25px;
}

.footer-icon:hover,
.footer-icon:focus {
  fill: var(--hover-social-icon);
}

/* hero */
.hero-title {
  position: absolute;
  width: 14em;
  margin-top: 220px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .hero-title {
    width: 430px;
    margin-top: 330px;
    font-size: 25px;
  }
}

@media screen and (min-width: 768px) {
  .hero-title {
    width: 708px;
    margin-top: 460px;
    font-size: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    width: 1000px;
    margin-top: 140px;
    font-size: 38px;
    line-height: 51px;
    text-align: start;
  }
}

/* section advantages */
.advantages-title {
  padding-top: 40px;
  margin-bottom: 40px;
  font-size: 25px;
}

@media screen and (min-width: 1200px) {
  .advantages-title {
    padding-top: 50px;
    margin-bottom: 50px;
    font-size: 35px;
  }
}

.adv-icon_title {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

@media screen and (min-width: 480px) {
  .adv-icon_title {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .adv-icon_title {
    display: block;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .adv-icon_title {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
  }
}

.adv-tablet {
  display: none;
}

@media screen and (min-width: 480px) {
  .adv-tablet {
    display: block;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .adv-tablet {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .adv-tablet {
    display: none;
  }
}

/* section reviews */
.rev-title {
  padding-top: 40px;
  margin-bottom: 40px;
  font-size: 25px;
}

@media screen and (min-width: 1200px) {
  .rev-title {
    padding-top: 50px;
    margin-bottom: 50px;
    font-size: 35px;
  }
}

/* section stability */
.stab-title {
  padding-top: 40px;
  margin-bottom: 40px;
  font-size: 25px;
}

@media screen and (min-width: 1200px) {
  .stab-title {
    padding-top: 50px;
    margin-bottom: 50px;
    font-size: 35px;
  }
}

/* section court-control */
.court-title {
  padding-top: 40px;
  margin-bottom: 40px;
  font-size: 25px;
}

@media screen and (min-width: 1200px) {
  .court-title {
    padding-top: 50px;
    margin-bottom: 50px;
    font-size: 35px;
  }
}

.menu-btn,
.mobile-menu__close {
  background-color: transparent;
  border: none;
  font-size: 25px;
  font-weight: bold;
  border-radius: 50%;
  color: white;
  outline: 2px solid white;
}

.menu-btn:hover,
.menu-btn:focus {
  fill: red;
}

.mobile-menu__close:hover,
.mobile-menu__close:focus {
  fill: red;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  overflow-y: scroll;
  z-index: 30;
  top: 0;
  left: 50%;
  width: 320px;
  height: 500px;
  padding: 48px 83px 48px 40px;
  background-color: rgba(60, 179, 113, 0.9);
  transform: translateY(-100%) translateX(-50%);
  transition: transform var(--timing-function);
  cursor: pointer;
}

.is-open {
  transform: translateY(0) translateX(-50%);
}

.mobile-menu__close {
  position: absolute;
  top: 23px;
  right: 19px;
}

.mobile-menu__list {
  font-size: 20px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: white;
  font-weight: bold;
}

.item__menu:not(:last-child),
.item-contacts__menu:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__list-contacts {
  margin-bottom: 64px;
}

.menu__link-contacts .phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: red;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .menu__link-contacts .phone {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}

.menu__link-contacts .mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: yellow;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .menu__link-contacts .mail {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
  }
}

.home_page {
  color: pink;
}

.mob-menu__list-network {
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .mob-menu__list-network {
    flex-wrap: wrap;
  }
}

.item-network__menu {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: red;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .item-network__menu {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}

.item-network__menu:not(:first-child) {
  padding-left: 10px;
}

.item-network__menu:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

@media screen and (min-width: 768px) {
  .menu-btn,
  .mobile-menu {
    display: none;
  }
}

/* section advantages */
.advantages {
  background-color: var(--secondary-bg-color);
  height: 1200px;
}

@media screen and (min-width: 480px) {
  .advantages {
    height: 900px;
  }
}

@media screen and (min-width: 768px) {
  .advantages {
    height: 820px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    height: 695px;
  }
}

.advantages-list {
  display: grid;
}

@media screen and (min-width: 480px) {
  .advantages-list {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    row-gap: 20px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list {
    grid-column-gap: 40px;
    row-gap: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    row-gap: 60px;
    justify-items: center;
  }
}

.advantages-link .advantages-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.advantages-icon {
  width: 35px;
  height: 35px;
  transition: transform 250ms linear;
  transform: scale(1);
  cursor: pointer;
  fill: var(--btn-color-section);
}

@media screen and (min-width: 480px) {
  .advantages-icon {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-icon {
    width: 50px;
    height: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-icon {
    width: 52px;
    height: 52px;
  }
}

.advantages-icon:hover,
.advantages-icon:focus {
  fill: yellowgreen;
  transform: scale(1.2);
}

.adv-icon_paragraph {
  display: none;
}

@media screen and (min-width: 768px) {
  .adv-icon_paragraph {
    display: block;
    margin-top: 30px;
  }
}

.adv-mobile {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .adv-mobile {
    display: none;
  }
}

.adv-mobile-icon {
  display: none;
}

@media screen and (min-width: 480px) {
  .adv-mobile-icon {
    display: block;
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .adv-mobile-icon {
    display: none;
  }
}

/* section court-control */
.court-control {
  height: 400px;
}

@media screen and (min-width: 480px) {
  .court-control {
    height: 550px;
  }
}

@media screen and (min-width: 768px) {
  .court-control {
    height: 820px;
  }
}

@media screen and (min-width: 1200px) {
  .court-control {
    height: 1220px;
  }
}

.icon-top {
  float: right;
  margin-top: -50px;
  transition: transform 250ms linear;
  display: none;
}

.icon-top:hover,
.icon-top:focus {
  transform: scale(1.12);
}

.court-information {
  display: flex;
}

.iphone {
  padding-top: 70px;
}

@media screen and (min-width: 480px) {
  .iphone {
    padding-top: 70px;
  }
}

@media screen and (min-width: 768px) {
  .iphone {
    padding-top: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .iphone {
    padding-top: 251px;
  }
}

.court-properties {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-top: 0;
}

@media screen and (min-width: 480px) {
  .court-properties {
    padding-left: 20px;
    padding-top: 40px;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .court-properties {
    padding-left: 81px;
    padding-top: 70px;
  }
}

@media screen and (min-width: 768px) {
  .court-properties {
    align-items: flex-start;
  }
}

.court-par {
  font-size: 10px;
  line-height: 0.8;
  padding-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .court-par {
    font-size: 16px;
    line-height: 1.2;
    padding-bottom: 20px;
    text-align: justify;
  }
}

@media screen and (min-width: 768px) {
  .court-par {
    line-height: 1.2;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .court-par {
    line-height: 1.7;
    padding-bottom: 66px;
  }
}

.court-link:not(:first-child) {
  margin-top: 13px;
}

.court-link {
  transition: transform 250ms linear;
  width: 100px;
  height: 25px;
}

@media screen and (min-width: 480px) {
  .court-link {
    width: 120px;
    height: 35px;
  }
}

@media screen and (min-width: 768px) {
  .court-link {
    width: 140px;
    height: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .court-link {
    width: 175px;
    height: 50px;
  }
}

.court-link:hover,
.court-link:focus {
  transform: scale(1.12);
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.562);
  border-radius: 6px;
}

/* footer */
.footer {
  background-color: var(--bg-color-header-footer);
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer {
    height: 190px;
    display: block;
  }
}

.footer-par {
  float: right;
  font-size: 9px;
  color: var(--accent-text-color);
  padding-bottom: 50px;
}

@media screen and (min-width: 480px) {
  .footer-par {
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .footer-par {
    padding-top: -5px;
    padding-bottom: 0;
  }
}

/* header */
.page-header {
  background-color: var(--bg-color-header-footer);
  height: 79px;
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
}

/* hero */
.hero {
  height: 370px;
}

@media screen and (min-width: 480px) {
  .hero {
    height: 530px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    height: 650px;
  }
}

.hero-section {
  display: flex;
  justify-content: space-between;
}

.img_hero {
  width: 600px;
  padding-top: 5px;
}

@media screen and (min-width: 768px) {
  .img_hero {
    margin-right: 55px;
    padding-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .img_hero {
    margin-right: 0;
    padding-top: 45px;
  }
}

.hero-list {
  display: flex;
  margin-top: 120px;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 480px) {
  .hero-list {
    margin-top: 120px;
  }
}

@media screen and (min-width: 768px) {
  .hero-list {
    margin-top: 140px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-list {
    margin-top: -135px;
    justify-content: start;
  }
}

.hero-link:not(:first-child) {
  margin-left: 35px;
}

.hero-link {
  transition: transform 250ms linear;
  width: 100px;
  height: 25px;
}

@media screen and (min-width: 480px) {
  .hero-link {
    width: 120px;
    height: 35px;
  }
}

@media screen and (min-width: 768px) {
  .hero-link {
    width: 140px;
    height: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-link {
    width: 175px;
    height: 50px;
  }
}

.hero-link:hover,
.hero-link:focus {
  transform: scale(1.12);
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.562);
  border-radius: 6px;
}

/* section information */
.information {
  background-color: var(--bg-color-inform);
  height: 51px;
  display: none;
}

@media screen and (min-width: 768px) {
  .information {
    display: block;
  }
}

.inf-list {
  padding-top: 11px;
  display: flex;
  justify-content: space-between;
}

.inf-link {
  font-weight: 500;
  font-size: 21px;
  color: var(--logo-text-color);
  position: relative;
}

@media screen and (min-width: 768px) {
  .inf-link {
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px) {
  .inf-link {
    font-size: 21px;
  }
}

.inf-link::after {
  content: '';
  display: block;
  position: absolute;
  margin-top: 8px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: yellowgreen;
  transition: transform 250ms linear;
  transform: scale(0);
}

.inf-link:hover::after,
.inf-link:focus::after {
  transform: scale(1);
}

/* section reviews */
.reviews {
  height: 1000px;
}

@media screen and (min-width: 480px) {
  .reviews {
    height: 780px;
  }
}

@media screen and (min-width: 768px) {
  .reviews {
    height: 720px;
  }
}

@media screen and (min-width: 1200px) {
  .reviews {
    height: 670px;
  }
}

.rev-icon {
  float: right;
  padding-top: 30px;
  transition: transform 250ms linear;
  display: none;
}

.rev-icon:hover,
.rev-icon:focus {
  transform: scale(1.12);
}

.rev-list {
  align-items: center;
}

@media screen and (min-width: 480px) {
  .rev-list {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .rev-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .rev-list {
    display: flex;
    justify-content: space-evenly;
  }
}

.user-inform {
  display: flex;
  align-items: center;
}

.user-name {
  font-weight: 600;
  font-size: 20px;
  padding-left: 20px;
}

@media screen and (min-width: 768px) {
  .user-name {
    padding-left: 24px;
    font-size: 24px;
  }
}

.rev-text {
  display: none;
}

@media screen and (min-width: 480px) {
  .rev-text {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .rev-text {
    display: block;
    padding-bottom: 20px;
    padding-top: 27px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1200px) {
  .rev-text {
    padding-bottom: 0px;
  }
}

.rev-text__mob {
  padding-top: 27px;
  line-height: 1.7;
  padding-bottom: 20px;
}

@media screen and (min-width: 480px) {
  .rev-text__mob {
    display: block;
    padding-top: 27px;
    line-height: 1.4;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .rev-text__mob {
    display: none;
  }
}

.stability {
  height: 740px;
  background-color: var(--secondary-bg-color);
}

@media screen and (min-width: 480px) {
  .stability {
    height: 680px;
  }
}

@media screen and (min-width: 768px) {
  .stability {
    height: 670px;
  }
}

@media screen and (min-width: 1200px) {
  .stability {
    height: 680px;
  }
}

.stab-paragraph {
  text-align: center;
  padding-bottom: 50px;
}

.stab-work {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 480px) {
  .stab-work {
    display: block;
    flex-wrap: wrap;
    padding-left: 25px;
  }
}

@media screen and (min-width: 768px) {
  .stab-work {
    display: block;
    flex-wrap: wrap;
    padding-left: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .stab-work {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
}

.stab-icon {
  width: 48px;
  height: 48px;
  float: left;
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  .stab-icon {
    width: 50px;
    height: 50px;
    padding-top: 6px;
  }
}

@media screen and (min-width: 1200px) {
  .stab-icon {
    width: 52px;
    height: 52px;
    padding: 0;
    margin-right: 20px;
  }
}

.stab-achievement {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

@media screen and (min-width: 480px) {
  .stab-achievement {
    padding-bottom: 1px;
  }
}

@media screen and (min-width: 1200px) {
  .stab-achievement {
    padding: 0;
  }
}

.partners-title {
  padding-top: 75px;
  padding-bottom: 75px;
  font-size: 25px;
}

@media screen and (min-width: 1200px) {
  .partners-title {
    font-size: 35px;
  }
}

.court-partners {
  display: flex;
  justify-content: center;
}

.partners-icon:not(:first-child) {
  margin: 0 0 0 10px;
}

@media screen and (min-width: 480px) {
  .partners-icon:not(:first-child) {
    margin: 0 0 0 30px;
  }
}

@media screen and (min-width: 768px) {
  .partners-icon:not(:first-child) {
    margin: 0 0 0 48px;
  }
}

@media screen and (min-width: 1200px) {
  .partners-icon:not(:first-child) {
    margin: 0 0 0 58px;
  }
}

.partners-icon {
  width: 60px;
  height: 60px;
  transition: transform 250ms linear;
}

@media screen and (min-width: 768px) {
  .partners-icon {
    width: 70px;
    height: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .partners-icon {
    width: 90px;
    height: 90px;
  }
}

.partners-icon:hover,
.partners-icon:focus {
  transform: scale(1.12);
  box-shadow: 0px 0px 4px 4px rgba(17, 2, 54, 0.87);
  border-radius: 12px;
}

:root {
  --main-text-color: #040404;
  --logo-text-color: #f0f0f0;
  --accent-text-color: rgba(240, 240, 240, 0.46);
  --bg-color-header-footer: #004d40;
  --bg-color-inform: #027b66;
  --secondary-bg-color: rgba(2, 123, 102, 0.04);
  --btn-color-header: #027b66;
  --btn-color-section: #3b683d;
  --hover-social-icon: yellow;
  --main-fonts: 'Montserrat', sans-serif;
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */