.header-btn {
    display: flex;
    align-items: center;
}

.btn_enter {
    width: 220px;
    height: 53px;
    background-color: var(--btn-color-header);
    border-radius: 6px;
    cursor: pointer;
    border: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    padding-right: 10px;
    font-family: var(--main-fonts);
    font-size: 19px;
    line-height: 1.7;
    font-weight: 400;
    color: var(--logo-text-color);
    transition: transform 250ms linear;
}

.btn_enter:hover,
.btn_enter:focus {
    box-shadow: 0px 0px 4px 4px rgba(179, 241, 7, 0.87);
    background-color: var(--btn-color-section);
}

.btn-icon {
    margin-left: 10px;
    fill: var(--btn-color-header);
}

.btn-icon:hover,
.btn-icon:focus {
    fill: var(--btn-color-section);
}

/* section court-control */
.btn_enter__court {
    width: 120px;
    height: 40px;
    background-color: var(--btn-color-section);
    border-radius: 6px;
    font-weight: 500;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--logo-text-color);
    margin-bottom: 20px;
    transition: transform 250ms linear;

    @media screen and (min-width: 480px) {
        width: 180px;
        height: 50px;
        font-size: 20px;
        margin-bottom: 20px;
    }

    @media screen and (min-width: 768px) {
        width: 275px;
        height: 74px;
        margin-bottom: 40px;
    }

    @media screen and (min-width: 1200px) {
        width: 375px;
        height: 74px;
    }
}

.btn_enter__court:hover,
.btn_enter__court:focus {
    transform: scale(1.05);
    box-shadow: 0px 0px 4px 4px rgba(180, 219, 6, 0.808);
    background-color: var(--btn-color-header);
    color: yellow;
}

/* footer */
.btn-send {
    width: 129px;
    height: 34px;
    background: var(--btn-color-section);
    border-radius: 6px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--accent-text-color);
    margin-left: 7px;
    cursor: pointer;
}

.btn-send:hover,
.btn-send:focus {
    box-shadow: 0px 0px 4px 4px rgba(179, 241, 7, 0.87);
    background-color: var(--btn-color-section);
    color: yellowgreen;
}
