/* hero */
.hero-title {
    position: absolute;
    width: 609px;
    height: 153px;
    top: 284px;
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
}

/* section advantages */
.advantages-title {
    padding-top: 31px;
    padding-bottom: 90px;
}

.adv-icon_title {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    padding-top: 30px;
}

/* section reviews */
.rev-title {
    padding-top: 140px;
    padding-bottom: 104px;
}

/* section stability */
.stab-title {
    padding-top: 54px;
    padding-bottom: 19px;
}

/* section court-control */
.court-title {
    padding-top: 225px;
    padding-bottom: 16px;
}
