/* hero */
.hero-title {
    position: absolute;
    width: 16em;
    margin-top: 250px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;

    @media screen and (min-width: 480px) {
        width: 480px;
        margin-top: 370px;
        font-size: 25px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        margin-top: 460px;
        font-size: 30px;
    }

    @media screen and (min-width: 1300px) {
        width: 1300px;
        margin-top: 140px;
        font-size: 42px;
        line-height: 51px;
        text-align: start;
    }
}

/* section advantages */
.advantages-title {
    padding-top: 40px;
    margin-bottom: 40px;
    font-size: 25px;

    @media screen and (min-width: 1300px) {
        padding-top: 50px;
        margin-bottom: 50px;
        font-size: 35px;
    }
}

.adv-icon_title {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;

    @media screen and (min-width: 480px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        display: block;
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
    }

    @media screen and (min-width: 1300px) {
        font-weight: 600;
        font-size: 24px;
        text-align: center;
        margin-top: 30px;
    }
}

.adv-tablet {
    display: none;

    @media screen and (min-width: 480px) {
        display: block;
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }

    @media screen and (min-width: 1300px) {
        display: none;
    }
}

/* section reviews */
.rev-title {
    padding-top: 40px;
    margin-bottom: 40px;
    font-size: 25px;

    @media screen and (min-width: 768px) {
        padding-top: 50px;
        margin-bottom: 50px;
        font-size: 35px;
    }
}

/* section stability */
.stab-title {
    padding-top: 54px;
    padding-bottom: 19px;
}

/* section court-control */
.court-title {
    padding-top: 225px;
    padding-bottom: 16px;
}
