/* hero */
.hero-title {
    position: absolute;

    @media screen and (min-width: 320px) {
        width: 100%;
        margin-top: 5px;
        font-weight: 600;
        font-size: 15px;
        text-align: center;
    }

    @media screen and (min-width: 480px) {
        width: 430px;
        margin-top: 5px;
        font-weight: 600;
        font-size: 20px;
        text-align: center;
    }

    @media screen and (min-width: 768px) {
    }

    @media screen and (min-width: 1400px) {
        width: 609px;
        height: 153px;
        margin-top: 140px;
        font-weight: 600;
        font-size: 42px;
        line-height: 51px;
    }
}

/* section advantages */
.advantages-title {
    padding-top: 31px;
    padding-bottom: 90px;
}

.adv-icon_title {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    padding-top: 30px;
}

/* section reviews */
.rev-title {
    padding-top: 140px;
    padding-bottom: 104px;
}

/* section stability */
.stab-title {
    padding-top: 54px;
    padding-bottom: 19px;
}

/* section court-control */
.court-title {
    padding-top: 225px;
    padding-bottom: 16px;
}
