.container-fluid {
    width: 100%;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
    // background-color: pink;

    @media screen and (min-width: 480px) {
        max-width: 480px;
        padding: 0 25px;
        margin-left: auto;
        margin-right: auto;
        // background-color: aqua;
    }

    @media screen and (min-width: 768px) {
        max-width: 768px;
        padding: 0 30px;
        // background-color: coral;
    }

    @media screen and (min-width: 1200px) {
        max-width: 100%;
        padding: 0 50px;
        // background-color: yellowgreen;
    }
}
