:root {
    --main-text-color: #040404;
    --logo-text-color: #f0f0f0;
    --accent-text-color: rgba(240, 240, 240, 0.46);
    --bg-color-header-footer: #004d40;
    --bg-color-inform: #027b66;
    --secondary-bg-color: rgba(2, 123, 102, 0.04);
    --btn-color-header: #027b66;
    --btn-color-section: #3b683d;
    --hover-social-icon: yellow;
    --main-fonts: 'Montserrat', sans-serif;
}
