/* section advantages */
.advantages {
    // background-color: var(--secondary-bg-color);
    height: 1280px;

    @media screen and (min-width: 480px) {
        height: 940px;
    }

    @media screen and (min-width: 768px) {
    }

    @media screen and (min-width: 1400px) {
        height: 695px;
    }
}

.advantages-list {
    display: grid;

    @media screen and (min-width: 480px) {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        row-gap: 20px;
        justify-items: center;
    }

    @media screen and (min-width: 768px) {
    }

    @media screen and (min-width: 1400px) {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
        row-gap: 60px;
        justify-items: center;
    }
}

.advantages-link .advantages-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.advantages-icon {
    width: 52px;
    height: 52px;
    transition: transform 250ms linear;
    transform: scale(1);
    cursor: pointer;
    fill: var(--btn-color-section);
}

.advantages-icon:hover,
.advantages-icon:focus {
    fill: yellowgreen;
    transform: scale(1.2);
}

.adv-icon_paragraph {
    padding-top: 30px;
    line-height: 1.4;
}
