/* section advantages */
.advantages {
    // background-color: var(--secondary-bg-color);
    height: 1400px;

    @media screen and (min-width: 480px) {
        height: 900px;
    }

    @media screen and (min-width: 768px) {
        height: 820px;
    }

    @media screen and (min-width: 1200px) {
        height: 695px;
    }
}

.advantages-list {
    display: grid;

    @media screen and (min-width: 480px) {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        row-gap: 20px;
    }

    @media screen and (min-width: 768px) {
        grid-column-gap: 40px;
        row-gap: 40px;
    }

    @media screen and (min-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
        row-gap: 60px;
        justify-items: center;
    }
}

.advantages-link .advantages-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.advantages-icon {
    width: 35px;
    height: 35px;
    transition: transform 250ms linear;
    transform: scale(1);
    cursor: pointer;
    fill: var(--btn-color-section);

    @media screen and (min-width: 480px) {
        width: 40px;
        height: 40px;
    }

    @media screen and (min-width: 768px) {
        width: 50px;
        height: 50px;
    }

    @media screen and (min-width: 1200px) {
        width: 52px;
        height: 52px;
    }
}

.advantages-icon:hover,
.advantages-icon:focus {
    fill: yellowgreen;
    transform: scale(1.2);
}

.adv-icon_paragraph {
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
        margin-top: 30px;
    }
}

.adv-mobile {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;

    @media screen and (min-width: 480px) {
        display: none;
    }
}

.adv-mobile-icon {
    display: none;

    @media screen and (min-width: 480px) {
        display: block;
        margin-top: 30px;
    }
    @media screen and (min-width: 768px) {
        display: none;
    }
}
