/* section court-control */
.court-control {
    height: 400px;

    @media screen and (min-width: 320px) and (max-width: 480px) {
        height: 550px;
    }

    @media screen and (min-width: 768px) {
        height: 820px;
    }

    @media screen and (min-width: 1200px) {
        height: 1220px;
    }
}

.icon-top {
    float: right;
    margin-top: -50px;
    transition: transform 250ms linear;
    display: none;
}

.icon-top:hover,
.icon-top:focus {
    transform: scale(1.12);
}

.court-information {
    display: flex;
}

.iphone {
    padding-top: 70px;

    @media screen and (min-width: 320px) and (max-width: 480px) {
        padding-top: 70px;
    }

    @media screen and (min-width: 768px) {
        padding-top: 120px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 251px;
    }
}

.court-properties {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-top: 0;

    @media screen and (min-width: 320px) and (max-width: 480px) {
        padding-left: 20px;
        padding-top: 40px;
        align-items: center;
    }

    @media screen and (min-width: 768px) {
        padding-left: 81px;
        padding-top: 70px;
    }

    @media screen and (min-width: 768px) {
        align-items: flex-start;
    }
}

.court-par {
    font-size: 10px;
    line-height: 0.8;
    padding-bottom: 20px;
    text-align: center;

    @media screen and (min-width: 320px) and (max-width: 480px) {
        font-size: 16px;
        line-height: 1.2;
        padding-bottom: 20px;
        text-align: justify;
    }

    @media screen and (min-width: 768px) {
        line-height: 1.2;
        padding-bottom: 40px;
    }

    @media screen and (min-width: 1200px) {
        line-height: 1.7;
        padding-bottom: 66px;
    }
}

.court-link:not(:first-child) {
    margin-top: 13px;
}

.court-link {
    transition: transform 250ms linear;

    width: 100px;
    height: 25px;

    @media screen and (min-width: 320px) and (max-width: 480px) {
        width: 120px;
        height: 35px;
    }

    @media screen and (min-width: 768px) {
        width: 140px;
        height: 40px;
    }

    @media screen and (min-width: 1200px) {
        width: 175px;
        height: 50px;
    }
}

.court-link:hover,
.court-link:focus {
    transform: scale(1.12);
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.562);
    border-radius: 6px;
}
