/* footer */
.footer {
    background-color: var(--bg-color-header-footer);
    height: 190px;
}

.footer-par {
    float: right;
    font-size: 9px;
    color: var(--accent-text-color);
    margin-top: -5px;
}
