/* hero */
.hero {
    height: 330px;

    @media screen and (min-width: 480px) {
        height: 450px;
    }

    @media screen and (min-width: 768px) {
        height: 500px;
    }

    @media screen and (min-width: 1200px) {
        height: 600px;
    }
}

.hero-section {
    display: flex;
    justify-content: space-between;
}

.img_hero {
    width: 600px;
    padding-top: 45px;

    @media screen and (min-width: 768px) {
        margin-left: -100px;
        padding-top: 70px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 0;
        padding-top: 45px;
    }
}

.hero-list {
    display: flex;

    @media screen and (min-width: 320px) {
        margin-top: 10px;
        align-items: center;
        justify-content: center;
    }

    @media screen and (min-width: 1200px) {
        margin-top: -135px;
        justify-content: start;
    }
}

.hero-link:not(:first-child) {
    margin-left: 35px;
}

.hero-link {
    transition: transform 250ms linear;

    @media screen and (min-width: 320px) {
        width: 100px;
        height: 25px;
    }

    @media screen and (min-width: 480px) {
        width: 120px;
        height: 35px;
    }

    @media screen and (min-width: 768px) {
        width: 140px;
        height: 40px;
    }

    @media screen and (min-width: 1200px) {
        width: 175px;
        height: 50px;
    }
}

.hero-link:hover,
.hero-link:focus {
    transform: scale(1.12);
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.562);
    border-radius: 6px;
}
