/* section reviews */
.reviews {
    height: 1000px;

    @media screen and (min-width: 320px) and (max-width: 480px) {
        height: 780px;
    }

    @media screen and (min-width: 768px) {
        height: 720px;
    }

    @media screen and (min-width: 1200px) {
        height: 670px;
    }
}

.rev-icon {
    float: right;
    padding-top: 30px;
    transition: transform 250ms linear;
    display: none;
}

.rev-icon:hover,
.rev-icon:focus {
    transform: scale(1.12);
}

.rev-list {
    align-items: center;

    @media screen and (min-width: 320px) and (max-width: 480px) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: space-evenly;
    }
}

.user-inform {
    display: flex;
    align-items: center;

    @media screen and (min-width: 320px) and (max-width: 480px) {
        // justify-content: start;
    }
}

.user-name {
    font-weight: 600;
    font-size: 20px;
    padding-left: 20px;

    @media screen and (min-width: 768px) {
        padding-left: 24px;
        font-size: 24px;
    }
}

.rev-text {
    display: none;

    @media screen and (min-width: 320px) and (max-width: 480px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        display: block;
        padding-bottom: 20px;
        padding-top: 27px;
        line-height: 1.7;
    }

    @media screen and (min-width: 1200px) {
        padding-bottom: 0px;
    }
}

.rev-text__mob {
    padding-top: 27px;
    line-height: 1.7;
    padding-bottom: 20px;

    @media screen and (min-width: 320px) and (max-width: 480px) {
        display: block;
        padding-top: 27px;
        line-height: 1.4;
        padding-bottom: 20px;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}
