.stability {
    height: 680px;
    background-color: var(--secondary-bg-color);
}

.stab-paragraph {
    text-align: center;
    padding-bottom: 73px;
}

.stab-work {
    display: flex;
    justify-content: space-between;
}

.stab-icon {
    float: left;
    margin-right: 20px;
}

.stab-achievement {
    display: flex;
    flex-direction: column;
}

.partners-title {
    padding-top: 151px;
    padding-bottom: 75px;
}

.court-partners {
    display: flex;
    justify-content: center;
}

.partners-icon:not(:first-child) {
    margin: 0 0 0 58px;
}

.partners-icon {
    transition: transform 250ms linear;
}

.partners-icon:hover,
.partners-icon:focus {
    transform: scale(1.12);
    box-shadow: 0px 0px 4px 4px rgba(17, 2, 54, 0.87);
    border-radius: 12px;
}
