.stability {
    height: 740px;
    // background-color: var(--secondary-bg-color);

    @media screen and (min-width: 480px) {
        height: 680px;
    }

    @media screen and (min-width: 768px) {
        height: 560px;
    }

    @media screen and (min-width: 1200px) {
        height: 680px;
    }
}

.stab-paragraph {
    text-align: center;
    padding-bottom: 50px;
}

.stab-work {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 480px) {
        display: block;
        flex-wrap: wrap;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }
}

.stab-icon {
    width: 48px;
    height: 48px;
    float: left;
    margin-right: 20px;

    @media screen and (min-width: 768px) {
        width: 35px;
        height: 35px;
        padding-top: 6px;
        padding-left: 6px;
        margin-right: 5px;
    }

    @media screen and (min-width: 1200px) {
        width: 52px;
        height: 52px;
        padding: 0;
        margin-right: 20px;
    }
}

.stab-achievement {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;

    @media screen and (min-width: 480px) {
        padding-bottom: 1px;
    }

    @media screen and (min-width: 1200px) {
        padding: 0;
    }
}

.partners-title {
    padding-top: 75px;
    padding-bottom: 75px;
    font-size: 25px;

    @media screen and (min-width: 1200px) {
        // padding-top: 50px;
        // margin-bottom: 50px;
        font-size: 35px;
    }
}

.court-partners {
    display: flex;
    justify-content: center;
}

.partners-icon:not(:first-child) {
    margin: 0 0 0 10px;

    @media screen and (min-width: 480px) {
        margin: 0 0 0 30px;
    }

    @media screen and (min-width: 768px) {
        margin: 0 0 0 48px;
    }

    @media screen and (min-width: 1200px) {
        margin: 0 0 0 58px;
    }
}

.partners-icon {
    width: 60px;
    height: 60px;
    transition: transform 250ms linear;

    @media screen and (min-width: 480px) {
    }

    @media screen and (min-width: 768px) {
        width: 70px;
        height: 70px;
    }

    @media screen and (min-width: 1200px) {
        width: 90px;
        height: 90px;
    }
}

.partners-icon:hover,
.partners-icon:focus {
    transform: scale(1.12);
    box-shadow: 0px 0px 4px 4px rgba(17, 2, 54, 0.87);
    border-radius: 12px;
}
